<div class="search">
  <form method="get" action="/Store/Search">
    <input type="text" placeholder="Search" name="search">
    <button type="submit">Go</button>
  </form>
</div>
<div class="list">
  <h2>Sections</h2>
  <ul>
    <li><a href="">Name</a></li>
  </ul>
</div>
<div class="products">
  <h2>Name</h2>
  <ul>
    <li class="title">
      <div class="name">Product</div>
      <div class="downloads">Downloads</div>
      <div class="rating">Rating</div>
      <div class="price">Price</div>
    </li>
      <li>
        <div class="name"><a href="">Name</a></div>
        <div class="downloads">Downloads</div>
        <div class="rating"><a href="">Rating</a></div>
        <div class="price">Price</div>
        <div class="price">Free</div>
    </li>
  </ul>
</div>
