<div class="log">
  <p>Please fill in this form to edit an account.</p>
  <form [formGroup]="editForm" (ngSubmit)="(onSubmit())">
      <input
        type="text"
        placeholder="Enter email"
        name="email"
        formControlName="email">
      <input
        type="password"
        placeholder="Enter password"
        name="password"
        formControlName="password">
      <input
        type="text"
        placeholder="Enter fullname"
        name="fullname">
      <span *ngIf="warningMessage">
        {{ warningMessage }}
      </span>
      <button type="submit">Edit</button>
  </form>
</div>
