<div class="top-menu">
  <ul>
    @if (currentPage != 1) {
      <li class="page-item">
        <a (click)="onPageChange(1)" class="page-link">First</a>
      </li>
    }
    @if (currentPage != 1) {
      <li class="page-item">
        <a (click)="onPageChange(currentPage - 1)" class="page-link">Previous</a>
      </li>
    }
    @for (page of counter(); track page) {
      <li
        [ngClass]="{ active: currentPage === page }"
        class="page-item"
        >
        <a (click)="onPageChange(page)" class="page-link">{{ page }}</a>
      </li>
    }
    @if (currentPage != totalPages) {
      <li
        class="page-item"
        >
        <a (click)="onPageChange(currentPage + 1)" class="page-link">Next</a>
      </li>
    }
    @if (currentPage != totalPages) {
      <li
        class="page-item"
        >
        <a (click)="onPageChange(totalPages)" class="page-link">Last</a>
      </li>
    }
  </ul>
</div>
