ul {
  margin-top: 5px;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 5px 15px;
}

li button {
  padding: 5px 15px;
}

li.active {
  background: #2965e6;
  color: #fff;
}

li a:hover {
  display: inline-block;
  background-color: #2965e6;
  color: #fff;
}
