<div class="top-menu">
  <ul>
    <li routerLinkActive="active"><a routerLink="store/list">Store</a></li>
    @if (hasPermission('User', 'Read')) {
      <li routerLinkActive="active">
        <a routerLink="user/{{userId}}/detail">Profile</a>
      </li>
    }
    @if (hasPermission('User Management', 'Read')) {
      <li routerLinkActive="active">
        <a routerLink="users/list">Users</a>
      </li>
    }
    @if (!isAuthenticated) {
      <li><a routerLink="auth/login" >Login</a></li>
    }
    @if (isAuthenticated) {
      <li><a (click)="logout()">Logout</a></li>
    }
  </ul>
</div>
