body {
  color: #fff;
  font: 14px Tahoma, sans-serif;
  background-color: rgb(32,32,32);
  background: linear-gradient(4deg, rgba(32,32,32,1) 0%, rgba(2,0,36,1) 21%, rgba(12,80,224,1) 100%);
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  min-width: 720px;
  min-height: 480px;
}

button, [type="submit"] {
  color: #fff;
  background-color: #2965e6;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

p {
  margin: 20px 0;
}

h2 {
  background: #333;
  font-weight: 300;
  padding: 0 10px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
}

a {
  color: white;
  text-decoration: none;
}

.search {
  background-color: #333;
  margin-top: 20px;
  padding: 5px;
}

.search form [type="text"] {
  background-color: #f3f3f3;
  border: 0px solid #e7e7e7;
  height: 32px;
  width: calc(100% - 45px);
  padding: 0 5px;
  display: inline-block;
  vertical-align: top;
}

.search form [type="submit"]{
  display: inline-block;
  height: 32px;
}

.list a {

}

.list h2 {
  margin: 10px 0 0 0;
}

.list ul {
  background-color: #333;
}

.list li {
padding: 14px 16px;
}

.list li a {

}

.list li a:hover {
display: inline-block;
background-color: #2965e6;
color: #fff;
}

.list button {
  height: 30px;
}

.list form.cart {
  float: right;
}

.orders {
  margin-top: 10px;
}

.orders a {

}

.orders h2 {
  margin: 0px 0 0 0;
}

.orders ul {
  background-color: #333;
}

.orders li {
  padding: 20px 16px;
}

.orders li.title {
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  padding-bottom: 5px;
}

.orders .product {
  width: 30%;
  display: inline-block;
}

.orders .price {
  width: 20%;
  display: inline-block;
}

.orders .time {
  width: 17%;
  display: inline-block;
}

.orders .order {
  width: 30%;
  display: inline-block;
}

.thread_list {
  width: 100%;
}

.thread_list h2 {
  margin: 10px 0;
}

.thread_list .post {
  margin: 10px 0 10px 0;
  background-color: #333;
}

.thread_list .created {
  background: #333;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
  padding: 2px 5px;
}

.thread_list .profile {
  padding: 10px 10px;
  width: 180px;
  margin: 0;
  display: inline-block;
  min-height: 190px;
}

.thread_list .profile a {
  font-weight: 700;
}

.thread_list .profile a:hover {
  background-color: #2965e6;
}

.thread_list .profile img {
  margin: 10px 0 0 0;
  height: 160px;
  width: 160px;
}

.thread_list .context {
  padding: 10px 10px;
  display: inline-block;
  width: calc(100% - 225px);
  vertical-align: top;
  min-height: 190px;
}

.thread_list .context p {
  margin: 0;
  float: right;
}

.thread_list textarea {
  width: 100%;
  font: 12px Tahoma, sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  vertical-align: top;
  margin: 8px 0;
  box-sizing: border-box;
}

.thread_list [type="submit"] {
  height: 30px;
}

.thread {
  background-color: #333;
}

.thread h2 {

}

.thread [type="text"] {
  width: calc(100% - 10px);
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  height: 30px;
  padding: 10px;
  vertical-align: top;
  margin: 5px;
  box-sizing: border-box;
}

.thread textarea {
  width: calc(100% - 10px);
  font: 12px Tahoma, sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  padding: 5px;
  vertical-align: top;
  margin: 5px;
  box-sizing: border-box;
}

.thread [type="submit"] {
  border: none;
  height: 30px;
  margin: 5px;
}

.thread button {
  height: 30px;
}

.threads {
  color: white;
  text-decoration: none;
}

.threads h2 {
  margin: 30px 0 0 0;
}

.threads ul {
  padding: 10px 0;
  background-color: #333;
}

.threads li {
  padding: 16px 14px;
}

.threads li.title {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
}

.threads li p {
margin: 0;
}

.threads li a {
color: white;
text-decoration: none;
}

.threads li a:hover {
display: inline-block;
background-color: #2965e6;
color: #fff;
}

.threads button {
  height: 30px;
}

.threads .article {
  display: inline-block;
  width: 60%;
}

.threads .views {
  text-align: center;
  display: inline-block;
  width: 15%;
}

.threads .post {
  display: inline-block;
  width: 22%;
}

.threads form {
  display: inline-block;
}

.threads [type="submit"] {
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  color: #fff;
  padding: 0;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
}

.threads [type="submit"]:hover {
  background-color: #2965e6;
}

.buy {
  margin: 20px 0;
  padding: 10px;
  background: #333;
}

.buy [type="submit"] {
  height: 30px;
  margin: 5px 0 5px 0;
}

.buy button {
  height: 30px;
  margin: 5px 0 0 5px;
}

.page {
  margin: 0;
  float: right;
}

.page p {
  margin: 0px;
  padding: 5px;
}

.page ul {

}

.page li {
  display: inline-block;
}

.page [type="submit"] {
  height: 30px;
}

.page [type="submit"]:hover {
  background-color: #333;
  height: 30px;
}

.page button {
  height: 30px;
}

.products a {

}

.products h2 {
  margin: 30px 0 0 0;
}

.products ul {
  background-color: #333;
}

.products li {
  padding: 14px 0;
  margin: 0 14px;
}

.products li.title {
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-bottom-color: #fff;
  border-bottom-width: 1px;
}

.products li a {

}

.products li a:hover {
  display: inline-block;
  background-color: #2965e6;
  color: #fff;
}

.products .name {
  display: inline-block;
  width: 50%;
}

.products .downloads {
  display: inline-block;
  width: 15%;
}

.products .rating {
  display: inline-block;
  width: 10%;
}

.products .price {
  display: inline-block;
  width: 22%;
}

.product {
  background-color: #333;
}

.product a {

}

.product h2 {
  margin: 30px 0 0 0;
}

.product .product_info {
  display: inline-block;
  margin: 10px;
  width: 480px;
  height: 270px;
}

.product img {
  width: 480px;
  height: 270px;
}

.product .product_creditals {
  display: inline-block;
  width: calc(100% - 505px);
  height: 270px;
  vertical-align: top;
}

.product .product_creditals ul {

}

.product .product_creditals li {
  margin: 10px 10px;
}

.rate {
  background-color: #333;
  width: 100%;
}

.rate .profile {
  padding: 10px 10px;
  width: 130px;
  margin: 0;
  display: inline-block;
  min-height: 130px;
  border-right-width: 2px;
  border-right-color: white;
}

.rate .profile a {
  padding: 30px 0;
  font-weight: 700;

}

.rate .profile img {
  margin: 10px 0 0 0;
  height: 120px;
  width: 120px;
}

.rate .rank {
  display: inline-block;
  width: calc(100% - 165px);
}

.rate .rank p {
  margin: 0;
}

.rate .rank p [type="number"] {
  margin: 2px 0 0 0;
  height: 16px;
  background: #fff;
  outline: none;
}

.rate .rank p textarea {
  width: 100%;
  font: 14px Tahoma, sans-serif;
  background-color: #f3f3f3;
  border: 1px solid #e7e7e7;
  vertical-align: top;
  margin: 8px 0;
  box-sizing: border-box;
}

.rate .rank p [type="submit"] {
  height: 30px;
  margin: 5px 0 5px 0;
}

.ratings {
  margin: 10px 0 10px 0;
  background-color: #333;
}

.ratings .profile {
  padding: 10px 10px;
  width: 130px;
  margin: 0;
  display: inline-block;
  min-height: 130px;
  border-right-width: 2px;
  border-right-color: white;
}

.ratings .profile a {
  padding: 30px 0;
  font-weight: 700;

}

.ratings .profile img {
  margin: 10px 0 0 0;
  height: 100px;
  width: 100px;
}

.ratings .context {
  display: inline-block;
  padding: 10px 0;
  width: calc(100% - 155px);
  height: 130px;
  vertical-align: top;
}

.ratings .context li {
  margin: 0 0 5px 0;
}

.language{
  float: right;
}

.forum_search {
  margin: 10px 0;
}

.forum_search li {
  background-color: #333;
  margin: 10px 0;
  padding: 5px;
}

.forum_search p {
  margin: 5px;
}

.forum_search a.user {
  font-weight: 700;
}

.forum_search a:hover {
  background-color: #2965e6;
}

.forum_search .article {
  margin: 5px;
  font-size: 12px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #fff;
}

.forum_search .context {
  margin: 5px;
}

.panel {
  background-color: #333;
  margin: 5px 0;
}

.panel button, form[type="submit"]  {
  margin: 5px;
  height: 24px;
}
