<div class="search">
  <input type="text" placeholder="Search" name="search" (input)="search($event)">
</div>

<div class="users-list">
  <table>
    <tr>
      <th scope="col" [appSort]="users" data-order="desc" data-name="id">Id</th>
      <th scope="col" [appSort]="users" data-order="desc" data-name="login">Login</th>
      <th scope="col" [appSort]="users" data-order="desc" data-name="email">Email</th>
      <th scope="col" [appSort]="users" data-order="desc" data-name="userRole">Role</th>
      <th>Options</th>
    </tr>
    <tr *ngFor="let user of users">
      <th id="{{user.id}}">{{ user.id }}</th>
      <th id="{{user.login}}">{{ user.login }}</th>
      <th id="{{user.email}}">{{ user.email }}</th>
      <th id="{{user.userRole}}">{{ user.userRole }}</th>
      <th>
        <button
          class="submit-button"
          (click)="goToEditUser(user.id)"
        >
          Edit
        </button>
        <button
          class="submit-button remove-button"
          (click)="removeUser(user.id)"
        >
          Remove
        </button>
      </th>
    </tr>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th>
        <button
          class="submit-button"
          (click)="goToAddUser()"
        >
          Add User
        </button>
      </th>
    </tr>
  </table>
</div>
