.users-list table {
  background-color: #333;
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  padding: 5px;
}

.users-list tr, th {
  padding: 5px;
}

.users-list tbody tr, th {
  font-weight: 100;
}

.users-list tbody tr:nth-child(odd) {
  background-color: #4d4d4d;
}

.submit-button {
  padding: 5px;
  margin: 0 1px;
}

.remove-button {
  background-color: rgb(160, 0, 0);
}
